<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/site_layout/layout}">

    <head>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container mt-5">
                <section class="py-3">
                    <h1 class="text-secondary py-2">About</h1>
                </section>

                <!--about--->
                <div data-brackets-id="2187" class="site-blocks-cover inner-page-cover overlay aos-init aos-animate" style="background-image: url(&quot;images/hero_bg_2.jpg&quot;); background-position: 50% 0px;" data-aos="fade" data-stellar-background-ratio="0.5">
                    <div data-brackets-id="2188" class="container">
                        <div data-brackets-id="2189" class="row align-items-center justify-content-center text-center">
                            <div data-brackets-id="2190" class="col-md-10">
                                <h1 data-brackets-id="2191" class="mb-2">About Home Exchange Manager</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-brackets-id="2192" class="site-section">
                    <div data-brackets-id="2193" class="container">
                        <div data-brackets-id="2194" class="row">
                            <div data-brackets-id="2195" class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                <img data-brackets-id="2196" src="images/about.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div data-brackets-id="2197" class="col-md-5 ml-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                                <div data-brackets-id="2198" class="site-section-title">
                                    <h2 data-brackets-id="2199">Our Company</h2>
                                </div>
                                <p data-brackets-id="2200" class="lead">Provides a platform that allows individuals to exchange their homes
                                    (apartment, house, loft, etc.) for a short vacation (a day to a few weeks).These
                                    exchanges must be free, but the counterpart is that each owner will define some services
                                    that the guests must provide and some constraints/limits that they must respect
                                </p><p data-brackets-id="2201"></p>
                                <p data-brackets-id="2202"><a data-brackets-id="2203" href="#" class="btn btn-outline-primary rounded-0 py-2 px-5">Read More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-brackets-id="2254" class="site-section bg-light">
                    <div data-brackets-id="2255" class="container aos-init aos-animate" data-aos="fade">
                        <div data-brackets-id="2256" class="row mb-5 justify-content-center">
                            <div data-brackets-id="2257" class="col-md-7">
                                <div data-brackets-id="2258" class="site-section-title text-center">
                                    <h2 data-brackets-id="2259">Our Agents</h2>
                                    <p data-brackets-id="2260">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam officiis ipsa eum pariatur labore fugit amet eaque iure vitae, repellendus laborum in modi reiciendis quis! Optio minima quibusdam, laboriosam.</p>
                                </div>
                            </div>
                        </div>
                        <div data-brackets-id="2261" class="row">

                            <div data-brackets-id="2262" class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                                <div data-brackets-id="2263" class="team-member">

                                    <img data-brackets-id="2264" src="images/Tobias.jpg" alt="Image" class="img-fluid rounded mb-4">

                                    <div data-brackets-id="2265" class="text">

                                        <h2 data-brackets-id="2266" class="mb-2 font-weight-light text-black h4">TOBIAS Odion</h2>
                                        <span data-brackets-id="2267" class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                                        <p data-brackets-id="2268">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sed qui at harum ipsum earum voluptas a unde error sapiente, sint perspiciatis, fugiat neque iure rerum repellendus tempora odio doloribus.</p>
                                        <p data-brackets-id="2269">
                                            <a data-brackets-id="2270" href="#" class="text-black p-2"><span data-brackets-id="2271" class="icon-facebook"></span></a>
                                            <a data-brackets-id="2272" href="#" class="text-black p-2"><span data-brackets-id="2273" class="icon-twitter"></span></a>
                                            <a data-brackets-id="2274" href="#" class="text-black p-2"><span data-brackets-id="2275" class="icon-linkedin"></span></a>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div data-brackets-id="2276" class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                                <div data-brackets-id="2277" class="team-member">

                                    <img data-brackets-id="2278" src="images/Usman.jpg" alt="Image" class="img-fluid rounded mb-4">

                                    <div data-brackets-id="2279" class="text">

                                        <h2 data-brackets-id="2280" class="mb-2 font-weight-light text-black h4">MUSA Usman Nuhu</h2>
                                        <span data-brackets-id="2281" class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                                        <p data-brackets-id="2282">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nobis commodi rerum dicta, nulla. Delectus neque hic deserunt consequuntur esse facere, necessitatibus corrupti! Blanditiis ratione consequuntur beatae adipisci, voluptatum consequatur.</p>
                                        <p data-brackets-id="2283">
                                            <a data-brackets-id="2284" href="#" class="text-black p-2"><span data-brackets-id="2285" class="icon-facebook"></span></a>
                                            <a data-brackets-id="2286" href="#" class="text-black p-2"><span data-brackets-id="2287" class="icon-twitter"></span></a>
                                            <a data-brackets-id="2288" href="#" class="text-black p-2"><span data-brackets-id="2289" class="icon-linkedin"></span></a>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div data-brackets-id="2290" class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                                <div data-brackets-id="2291" class="team-member">

                                    <img data-brackets-id="2292" src="images/Rajab.jpg" alt="Image" class="img-fluid rounded mb-4">

                                    <div data-brackets-id="2293" class="text">

                                        <h2 data-brackets-id="2294" class="mb-2 font-weight-light text-black h4">IMAM Rajab Muhammed</h2>
                                        <span data-brackets-id="2295" class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
                                        <p data-brackets-id="2296">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nam tenetur molestiae maiores officiis consectetur, distinctio aperiam in illum praesentium corrupti, harum porro reiciendis magnam non enim dolorem aut explicabo.</p>
                                        <p data-brackets-id="2297">
                                            <a data-brackets-id="2298" href="#" class="text-black p-2"><span data-brackets-id="2299" class="icon-facebook"></span></a>
                                            <a data-brackets-id="2300" href="#" class="text-black p-2"><span data-brackets-id="2301" class="icon-twitter"></span></a>
                                            <a data-brackets-id="2302" href="#" class="text-black p-2"><span data-brackets-id="2303" class="icon-linkedin"></span></a>
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>