<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/site_layout/layout}">

    <head>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container mt-5">
                <section class="py-3">
                    <h1 class="text-secondary py-2">About</h1>
                </section>

                <!--about--->
                <section class="container mb-5">
                    <p>We are software engineering students from ISEP Master 1. 
                        We are a cross-cultural team: one Indian student and three Nigerian students. </p>
                    <p> We worked together to complete this Web Technologies project.
                        Welcome to contact us, please refer to the CONTACT page for contact details</p>
                    <p>The ISEP Engineering Master Degree Program (IEMDP) is a 4-semester program. 
                        Its aim is to prepare international students for the ISEP Engineering Master Degree. </p>
                    <p>This degree is recognized by the French government, accredited by the Engineering Accreditation Institution 
                        CTI and recognized as an international Master degree within the European Bologna scheme. </p>
                    <p>The program is open to graduates with a Bachelor’s degree and the students join the standard
                        French engineering curriculum starting from the 2nd year of the engineering cycle.</p>
                </section>
      
            </div>
        </div>
    </body>
</html>