<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/app_layout1/layout}">

<head>
    <title>User List</title>
    <!-- Read Dedicated CSS -->
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-6 btn">
                <a  th:href ="@{'/house/list'}">
                <div class="card bg-warning text-dark h-100">
                    <div class="card-body py-5">My Houses</div>
                    <div class="card-footer d-flex">
                        Manage Houses
                        <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-6 mb-6 btn">
                <a th:href ="@{'/booking/bookingrequest'}">
                <div class="card bg-success text-white h-100">
                    <div class="card-body py-5">Booking Request</div>
                    <div class="card-footer d-flex">
                        Approve Bookings
                        <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 btn">
                <a  th:href ="@{'/house/list'}">
                <div class="card bg-primary text-white h-100">
                    <div class="card-body py-5">
                        <span th:text="${#dates.format(#dates.createNow(), 'hh:mm a')}"></span>
                        <span th:text="${#dates.format(#dates.createNow(), 'dd MMM YYYY')}"></span>

                    </div>
                    <div class="card-footer d-flex">
                        View Details
                        <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 btn">
                <a  th:href ="@{'/booking/add'}">
                <div class="card bg-warning text-dark h-100">
                    <div class="card-body py-5">Market Place</div>
                    <div class="card-footer d-flex">
                        Book a House
                        <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 btn">
                <a  th:href ="@{'/booking/list'}">
                <div class="card bg-success text-white h-100">
                    <div class="card-body py-5">My Bookings</div>
                    <div class="card-footer d-flex">
                        See Booking History
                        <span class="ms-auto">
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>