<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app_layout1/layout}">

    <head>
        <title>House Details</title>
        <!-- Read Dedicated CSS -->
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <h4 th:text = ${house.name}></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <img src="/images/property-1.jpg" class="img-fluid" alt="...">
                        <div class="col-4">
                            <img src="/images/property-2.jpg" class="img-thumbnail rounded float-start" alt="...">
                        </div>
                        <div class="col-4">
                            <img src="/images/property-3.jpg" class="img-thumbnail rounded mx-auto d-block" alt="...">
                        </div>
                        <div class="col-4">
                            <img src="/images/property-4.jpg" class="img-thumbnail rounded float-end" alt="...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h4>Description</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <td th:text = ${house.description} ></td>
                                    <td th:text ="${house.type}" ></td>
                                    <td th:text ="${house.city}" ></td>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h4>Availability</h4>
                            </div>
                            <div class="card-body">
                        <table class ="table table-striped table-bordered table-hover" >
                            <thead class ="thead-light" >
                            <tr>
                                <th class ="th-width" >Duration</th>
                                <th class ="th-width" >Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each ="availability: ${house.availabilities}" >
                                <!--<td th:text ="${constraint.id}" ></td>-->
                                <td><span th:text ="${#dates.format(availability.startDate, 'dd/MM/yyyy')}"></span> - <span th:text ="${#dates.format(availability.endDate, 'dd/MM/yyyy')}"></span></td>
                                <td>
                                    <a class ="btn btn-primary constraintDelete" th:href ="@{'/availability/delete?availabilityId=' + ${availability.id}}">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>House Constraints</h4>
                                </div>
                                <div class="card-body">
                                    <table class ="table table-striped table-bordered table-hover" >
                                        <thead class ="thead-light" >
                                        <tr>
                                            <th class ="th-width" >Description</th>
                                            <th class ="th-width" >Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each ="constraint: ${house.constraints}" >
                                            <!--<td th:text ="${constraint.id}" ></td>-->
                                            <td th:text ="${constraint.description}" ></td>
                                            <td>
                                                <a class ="btn btn-primary constraintDelete" th:href ="@{'/constraint/delete?constraintId=' + ${constraint.id}}">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>House Services</h4>
                                </div>
                                <div class="card-body">
                                    <table class ="table table-striped table-bordered table-hover" >
                                        <thead class ="thead-light" >
                                        <tr>
                                            <th class ="th-width" >Description</th>
                                            <th class ="th-width" >Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each ="service: ${house.services}" >
                                            <!--<td th:text ="${service.id}" ></td>-->
                                            <td th:text ="${service.description}" ></td>
                                            <td>
                                                <a class ="btn btn-primary constraintDelete" th:href ="@{'/service/delete?serviceId=' + ${service.id}}">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
