<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app_layout1/layout}">

    <head>
        <title>House Details</title>
        <!-- Read Dedicated CSS -->
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <h4>House Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img src="/images/property-1.jpg" class="img-fluid" width="500" height="150" alt="...">
                    <div class="row">
                        <div class="col">
                            <img src="/images/property-2.jpg" class="img-thumbnail rounded float-start" width="80" height="80" alt="...">
                        </div>
                        <div class="col">
                            <img src="/images/property-3.jpg" class="img-thumbnail rounded mx-auto d-block" width="80" height="80" alt="...">
                        </div>
                        <div class="col">
                            <img src="/images/property-4.jpg" class="img-thumbnail rounded float-end" width="80" height="80" alt="...">
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Description
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">House Description</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Constraints
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">House Constraints</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Services
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">House Services</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </body>
</html>
